<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CADENA" connectionString="Data Source=DESKTOP-GUR9QFC;Initial Catalog=Comercio;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="PryAmestoyConexion.Properties.Settings.CADENA" connectionString="Data Source=DESKTOP-GUR9QFC;Initial Catalog=Comercio;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>